<script defer src="./signIn.js"></script>

<style>
    *{
        box-sizing: border-box;
    }
    .signIn{
        width: 275px;
        margin-top: 10vh;
        border: 2px solid rgba(0, 0, 0, 0.387);
        border-radius: 25px;
    }

    .signIn button{
        width: 91px;
    }
</style>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CryWEB</a>
  </div>
</nav>
{{!-- <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav> --}}

{{!-- <form action="main" method="POST"> --}}
<div class="container d-flex justify-content-center">
    <main class="signIn text-center p-3">
        <h1>CryWEB</h1>
        <h5>SiginIn</h5>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="login" name="login" placeholder="Login">
            <label for="floatingInput">Login</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="mt-4 width-100 d-flex justify-content-around">
            <a class="btn btn-dark" href="/signUp">SIGIN UP</a>
            <button class="btn btn-dark" onclick="signIn()">NEXT</button>
        </div>
    </main>
</div>
{{!-- </form> --}}

<div id="feetback">

</div>

{{!-- <h1>{{answer}}</h1> --}}


<ul>
    {{!-- вывод масива через each --}}

        {{!-- <li class="todo">
            <form action="/complete" method="POST">
                <label for="">
                    {{#if completed}}
                        <input type="checkbox" checked name="completed">
                        <span class="complete">{{title}}</span>
                    {{else}}
                        <input type="checkbox" name="completed">
                        <span>{{title}}</span>
                    {{/if}}

                    <input type="hidden" value="{{_id}}" name="id">
                    
                    <button class="btn btn-primary" type="submit">Save</button>
                </label>
            </form>
        </li> --}}

</ul>

{{!-- <p>No todos</p> --}}


{{!-- <script defer src="./signIn"></script> --}}

